body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url(fonts/MyriadProRegular.ttf);
}

.main-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 40px;
}


.menu {
    margin-top: 78px;
}
.menu-list > li {
    list-style-type: none;
}

.menu-list {
    display: flex;
    padding: 0;
}

.link40 {
    margin-right: 10px;
}

.menu-list > li > .menu-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #6e7ea9;
    text-decoration:  none;
    margin-right: 43px;
}

.menu-list > li .btn-free  {
    font-family: 'MyriadProRegular';
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration:  none;
    padding: 25px 57px;
    background: #1085e4;
    border-radius: 30px;
    transition: 0.5s;
}

.menu-list > li .btn-free:hover {
    background: #fff;
    color: #1085e4;
    border: 2px solid #1085e4;
}

.header-logo {
    background-image: url(img/logo.png);
    width: 181px;
    height: 49px;
    background-repeat: no-repeat;
}

.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.header {
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
}


.initial-taitel {
    max-width: 560px;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -1.3px;
    color: #192b59;
    margin-top: 304px;
    margin-bottom: 0;
}

.software-btn {
    display: flex;
    margin-top: 71px;
    padding-bottom: 312px;
}

.btn-get>a {
    font-size: 12px;    
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: #1085e4;
    border-radius: 30px;
    padding: 25px 42px;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
}

.btn-learn >a {
    font-size: 12px;    
    color: #7e8bae;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: #cbdbe8;
    border-radius: 30px;
    padding: 25px 42px;
    text-transform: uppercase;
    text-decoration: none;
}

.screen-home-page > img {
    right: 0;
    position: absolute;
    top: 190px;
    width: 45%;
    height: auto;
}

.partners {
    background: url(img/partners-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    background-color: #1085e4;
}

.partners-conainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0 100px 0;
}

.partners-1 {
    position: relative;
    top: -8px;  
}

.partners-2 {
    position: relative;
    top: -7px;
}





/*--------------WORK FOR GRID------------------*/


.card-grid {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(180, 181, 181, 0.2);
}

.best-features-taitel > span {
    display: block;
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.best-features-taitel {
    max-width: 280px;
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -1px;
}

.card-one-text-taitel {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -0.6px;
    margin-top: 24px;
    margin-bottom: 20px;
}

.card-one-text {
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
    margin-bottom: 22px;
    max-width: 270px;
    margin: 0 auto;
}

.link-more {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
    margin-top: 22px;
}

.link-more > a{
    text-decoration: none;
    color: #1085e4;
}

.main-bottom-text {
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
}

.bottom-text {
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 15px;
}

.bottom-text > span {
    color: #1085e4;
    font-size: 14px;
    font-weight: 400;
}

.best-features-container {
    margin-top: 121px;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c"
                          "d b c"
                          "d e f"
                          "g e f"
                          "g h h"


}

.best-features-taitel {
    grid-area: a;
    margin-bottom: 6px;
}

.card-one {
    grid-area: d;
}

.card-two {
    grid-area: b;
}

.card-three {
    grid-area: c;
}

.card-four {
    grid-area: g;
}

.card-five {
    grid-area: e;
}

.card-six {
    grid-area: f;
}

.bottom-text-card {
    grid-area: h;
    margin-left: 19px;
}

img.card-grid-2 {
    margin-left: 20px;
}

.img-grid {
    margin-top: 60px;
}

img.card-grid-3 {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top: 45px;
}

img.card-grid-1 {
    margin-bottom: 10px;
}

img.card-grid-4 {
    margin-top: 32px;
    margin-left: 31px;
    margin-bottom: 10px;
}

img.card-grid-5 {
    margin-bottom: 10px;
    margin-top: 41px;
    margin-left: 14px;
}

img.card-grid-6 {
    margin-top: 44px;
    margin-bottom: 10px;
}

.link-more-two {
    margin-bottom: 68px;
}

.link-more-four {
    margin-bottom: 71px;
}


/*-------SIGNUP-CONTAINER--------*/


.signup {
    background: #0a2090;
    background: linear-gradient(45deg,#0a2090 0%, #2377cd 80%);
    background: -webkit-linear-gradient(45deg,#0a2090 0%, #2377cd 80%);
    background: -moz-linear-gradient(45deg,#0a2090 0%, #2377cd 80%);
    margin-top: 120px;
}

.signup-container {
    display: flex;
    justify-content: space-between;
}

.robot {
    margin-top: 52px;
    margin-bottom: 48px;
}

.signup-taitel > h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    letter-spacing: -1.5px;
    margin-bottom: 27px;
}

.styl-signp  {
    color: #00bffe;
    font-size: 14px;
    font-weight: 800;
    display: block;
    text-transform: uppercase;
    margin-bottom: 21px;
    letter-spacing: 3px;
}

.signup-text > p {
    font-size: 18px;
    color: #dfe8ff;
    line-height: 28px;
    max-width: 420px;
}

.signup-taitel {
    margin-top: 116px;
}

.signup-text {
    margin-bottom: 38px;
}

.main-container-signap {
    flex-basis: 49%;
}

input[type=email] {
    background: none;
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    border: 2px solid #3f5cb1;
    border-radius: 35px;
    padding: 25px 38px;
    width: 100%;
    color: #fff;
    transition: 0.3s;
}

.email-form input:focus {
    outline: none;
}

.email-form button:focus {
    outline: none;
}

.email-form input::-webkit-input-placeholder {color:#b1c3ee;}
.email-form input::-moz-placeholder          {color:#b1c3ee;}
.email-form input:-moz-placeholder           {color:#b1c3ee;}
.email-form input:-ms-input-placeholder      {color:#b1c3ee;}

.email-form {
    position: relative;
}

.email-btn {
    position: absolute;
    top: 10px;
    right: 12px;
    background: #1085e4;
    border: 1px solid #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 16px 44px;
    border-radius: 30px;
    transition: 0.4s;
}

.email-form button:hover {
    border: 1px solid #fff;
    color: #1085e4;
    background: #fff;
}

.email-form input:hover {
    box-shadow: 8px 11px 25px 2px rgba(0,0,0,0.19);
    -webkit-box-shadow: 8px 11px 25px 2px rgba(0,0,0,0.19);
    -moz-box-shadow: 8px 11px 25px 2px rgba(0,0,0,0.19);
}

.software {
    background: url(img/bg-section-4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}


.software-main-taitel {
    color: #192b59;
    font-weight: 600;
    font-size: 50px;
    max-width: 570px;
    letter-spacing: -1px;
    margin-bottom: 27px;
}

.software-text-p {
    color:#7581a1;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
}

.software-list > dt {
    color: #5a6789;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 14px;
}

.software-list > dd {
    color:#7581a1;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
    font-size: 14px;
    max-width: 555px;

}

.element-container {
    margin-top: 122px;
}

.element-container img {
    position: relative;
    left: -22px;
    top: -9px;
}


.software-container {
    display: flex;
    justify-content: flex-end;
}

.software-main-text {
    flex-basis: 55%;
    position: relative;
    left: 4px;
}

dl.software-list {
    max-height: 330px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 171px;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: #f3f6ff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1085e4;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7ec3fc;
}

/*---------NEW-SECTION----------*/
.facts {
    background-color: #edf6ff;
}


.facts-main-text > h2 {
    font-size: 50px;
    z-index: 600;
    color: #192b59;
    max-width: 460px;
    margin: 0 auto;
    line-height: 60px;
    text-align: center;
    letter-spacing: -2.3px;
    margin-bottom: 57px;
}

.facts-main-text h2 > span {
    font-weight: 800;
    font-size: 16px;
    color: #1085e4;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 95px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: -8px;
}

.facts-number-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 118px;
}

.facts-number {
    color: #bacbdc;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.facts-number > span {
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 7px;
    letter-spacing: 2.7px;
}

/*------------NEWDECTION--------------*/

.landingpage-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.landingpage-taitel {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
    letter-spacing: -1.5px;
    margin-bottom: 36px;
    padding-top: 110px;
}

.landingpage-main-text {
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
    max-width: 620px;
}

.landingpage-main-text > span {
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
    text-transform: uppercase;
    display: block;
    margin-top: 27px;
    letter-spacing: 3.2px;
    margin-bottom: 24px;
}

.dowload-btn {
    display: flex;
}

.android-btn {
    margin-right: 30px;
}

.video img {
    position: relative;
    right: -19px;
    top: 51px;
}

.video {
    max-width: 500px;
}

.video::after {
    content: "";
    width: 80px;
    height: 80px;
    background: #fff;
    position: absolute;
    top: 43%;
    right: 17%;
    border-radius: 50px;
    box-shadow: 0px 0px 2px 10px rgba(16,133,228,0.05);
    -webkit-box-shadow: 0px 0px 2px 10px rgba(16,133,228,0.05);
    -moz-box-shadow: 0px 0px 2px 10px rgba(16,133,228,0.05);
}

.video::before {
    content: "";
    border: 8px solid transparent;
    border-left: 12px solid #2377cd;
    border-radius: 3px;
    position: absolute;
    top: 48.1%;
    right: 19.3%;
    z-index: 10;
}

.landingpage-text-bloc {
    padding-bottom: 118px;
}

/*------------NEWDECTION--------------*/

.presentation {
    background: url(img/profil-lending-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.presentation-container {
    display: flex;
    justify-content: space-between;
}

.presentation-text-taitel {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
    letter-spacing: -1.4px;
    margin-bottom: 25px;
}

.presentation-main-text-p {
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
    max-width: 620px;
    margin-bottom: 54px;
}

.presentation-btn > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.4px;
    background-color: #1085e4;
    border-radius: 30px;
    text-decoration: none;
    padding: 21px 42px;
}

.presentation-text {
    padding-top: 119px;
}

.presentation-img {
    margin-top: 180px;
    margin-right: 25px;
}

.presentation-element {
    margin-bottom: 5px;
    position: relative;
    left: -23px;
}

.presentation-main-text {
    padding-bottom: 143px;
}

/*------------NEWSECTION--------------*/

.featutures_2 {
    background: url(img/featutures_2-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.featutures_2-container {
    display: flex;
    justify-content: space-between;
}

.featutures_2-text-taitel {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
    letter-spacing: -1.4px;
    margin-bottom: 26px;
    max-width: 430px;
}

.featutures_2-text-main {
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
    max-width: 620px;
    margin-bottom: 55px;
}

.featutures_2-btn > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.4px;
    background-color: #1085e4;
    border-radius: 30px;
    text-decoration: none;
    padding: 21px 64px;
}

.featutures_2-element {
    padding-top: 121px;
    padding-bottom: 6px;
    position: relative;
    left: -24px;
}

.featutures_2-text-block {
    padding-bottom: 142px;
}

.featutures_2-img-block {
    position: relative;
    right: 7px;
    display: flex;
    align-items: center;
}


/*------------NEWSECTION--------------*/

.screenshot {
    background-color: #edf6ff;
}

.wrap {
    text-align: center;
}

.screenshot-text h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -1.4px;
    margin-top: 0;
    padding-top: 116px;
    margin-bottom: 73px;
}

.screenshot-text h2 > span {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
    letter-spacing: 3.7px;
    margin-bottom: 20px;
}

.main-screenshot img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}


/*------------NEWSECTION--------------*/

.cleints {
    background: url(img/cleints-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 517px;
}

.cleints-text h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1.4px;
    margin-bottom: 63px;
}

.cleints-text h2 > span {
    color: #85c8ff;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.5px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.cleints-card-container {
    display: flex;
    justify-content: space-between;
}

.card-block {
    background-color: #fff;
    border-radius: 10px;
    flex-basis: 31.5%;
    box-shadow: 0px 8px 16px 0px rgba(180, 181, 181, 0.2);
}

.card-block > p {
    color: #8085b1;
    font-size: 14px;
    line-height: 24px;
    max-width: 260px;
    padding: 19px 0px 0px 40px;
}

.position {
    display: flex;
    padding-bottom: 27px;
}

.name-avatar {
    color: #000958;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.7px;
    margin-bottom: 5px;
}

.work-avatar {
    color: #1085e4;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.cleints-container {
    padding-top: 160px;
    margin-top: 2px;
}

.position img {
    padding: 14px 0 0 41px;
}

.block-name-work {
    padding: 13px 0 0 17px;
}

/*------------NEWSECTION--------------*/

.pricing_plans-text {
    text-align: center;
    margin-bottom: 83px;
}

.pricing_plans-text  h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
}

.pricing_plans-text  h2 > span {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.8px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.pricing_plans-cord-container {
    display: flex;
    justify-content: space-between;
}

.pricing-card {
    text-align: center;
    background-color: #f5faff;
    flex-basis: 31.5%;
    padding-bottom: 103px;
    position: relative;
}

.pricing-card::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(img/triangle.png);
    width: 59px;
    height: 617px;
}

.pricing-card-active {
    text-align: center;
    background-color: #192b59;
    color: #fff;
    flex-basis: 31.5%;
    padding-bottom: 103px;
}

.pricing-card p {
    font-size: 70px;
    font-weight: 700;
    color: #000958;
    margin-top: 62px;
    letter-spacing: -1.4px;
    margin-bottom: 33px;
}

.pricing-card-active p {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin-top: 62px;
    letter-spacing: -1.4px;
    margin-bottom: 33px;
}

.pricing-card p > .level {
    color: #0084ff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    display: block;
    text-transform: uppercase;
    margin-top: 15px;
}

.pricing-card-active p > .level-active {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    display: block;
    text-transform: uppercase;
    margin-top: 15px;
}

.pricing-card p > .dollars {
    font-size: 20px;
}

.pricing-card-active  p > .dollars-active {
    font-size: 20px;
}

.pricing-card p > .month {
    color: #7b8ab2;
    font-size: 20px;
}

.pricing-card-active  p > .month-active {
    font-size: 20px;
}

.pricing-card-list > li {
    list-style-type: none;
    padding: 12px;
}

.pricing-card-list-active  > li{
    list-style-type: none;
    padding: 12px;
}

.pricing-card-list {
    padding-left: 0;
    text-align: center;
    color: #8085b1;
    font-size: 14px;
    margin-bottom: 57px;
}

.pricing-card-list-active {
    padding-left: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 57px;
}

.pricing-card-btn > a {
    color: #8085b1;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #dce1e5;
    text-decoration: none;
    letter-spacing: 2.3px;
    padding: 20px 62px;
    border-radius: 30px;
    transition: 0.4s;
}

.pricing-card-btn:hover > a {
    border: 2px solid #1a88e1;
    background: #1a88e1;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(121, 121, 121, 0.7);
}

.pricing-card-btn-active > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #1a88e1;
    text-decoration: none;
    background: #1a88e1;
    letter-spacing: 2.3px;
    padding: 20px 62px;
    border-radius: 30px;
    transition: 0.4s;
}

.pricing-card-btn-active:hover > a {
    border: 2px solid #dce1e5;
    background: #fff;
    color: #1a88e1;
    box-shadow: 0px 8px 16px 0px rgba(180, 181, 181, 0.2);
}

.pricing_plans-container {
    margin-top: 163px;
}

